ul{
    height: 100px;
    width: 200px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0.5em;
    padding-left: 1em;
}

form {


}

.columns {
    margin: auto;
    width: 75%;
}

.right {
    position: relative;
    float: right;
    padding-right: 6em;
    text-align: center;
}

.left {
    position: relative;
    float: left;
    padding-left: 6em;

}

.buttons {

}

.logo {
    background-color: red;
    width: 10%;
    float: left;
    left: 2em;
    padding: auto;
    margin: auto;
    z-index: 1;
}

.banner {
    background-color: grey;
    height: 4.5em;
    margin: 0;
    width: 100%;
    z-index: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 10em;
}

@media only screen and (max-device-width: 1079px){
    .right {
        width: 15em;
    }

    .left {
        width: 15em;
    }
}
