---
---

@import "{{ site.theme }}";

html, body {
  height: 100%; 
  background-color: #f7f7f7;
}

.card-panel, .header-panel, .queue, .customer {
  padding: 24px;
  border-radius: 2px;
  margin: .5rem 0 1rem 0;    
}

.card-panel, .header-panel, .queue, .material-icons, .button-rectangle, .button-rectangle-modal {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  
}

button, .button-rectangle, #add {
  overflow: hidden;
}

.btn {
  border-radius: 2px;
}

.button-rectangle, #add {
  transition: 300ms;
  -webkit-transition: 300ms;
  -ms-transition: 300ms;
}

.button-rectangle:hover, #add:hover
{
  box-shadow:0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12)
}

.button-rectangle:active, #add:active {
  box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
	
header {
  position: fixed;
  width: 100%;
}

.header-panel, .next-customer, .customer, .customer-name {
  font-family: 'Product Sans', sans-serif;
}

.header-panel {
  background-color: #303f9f;
  color: white;
  padding: 24px;
  margin: .5rem 0 1rem 0;
  z-index: 2;
  margin-top: 0px;
}

.logo {
  width: 13rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.queue {
  padding-top: 11rem;
  height: 100%;
  width: 30%;
  margin-bottom: 0px;
  background-color: white;
  z-index: 2;
}

.customer-information {
  width: 50%;
  position: fixed;
  left: 40%;
  bottom: 55%;
  text-align: center;
}

.customer {
  font-size: 2rem;
}

.next-customer {
  font-size: 48pt;
}

.customer-name {
  font-size: 36pt;
  font-style: italic;
  font-weight: 100;
  overflow-x: visible;
}

.header-logo {
  background-color: white;
  padding-bottom: 0px;
  z-index: 1;
  margin-top: -1rem;
}

.ui {
  display: inline-block;
  width: 70%;
  float: right;
  position: fixed;
  top: 92%;
  right: 0;
}

.button-rectangle {
  margin-left: 4rem;
}

#add {
  float: right;
  margin-right: 4rem;
  margin-top: -1rem;
  width: 56px;
  height: 56px;
  background-color: #1e88e5;
  color: white;
  text-align: center;
  line-height: 54px;
  font-size: 1.3rem;
  padding: 0;
  border-radius: 50%;
  border: none;
}

#add:focus {
  outline: 0;
}

.material-icons {
  user-select: none;
}

.modal {
  display: none;
  margin-top: -35rem;
  padding-top: 20rem;
  position: fixed;
  height: 70rem;
  width: 100%;
  z-index: 5;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.material {
	input {
		box-sizing: border-box;
		width: 100%;
		padding: 12px 10px 8px;
		border: none;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid #DDD;
		font-size: 120%;
		outline: none;
		cursor: text;

		&::-webkit-input-placeholder {
			transition: color 300ms ease;
		}
		&:not(:focus)::-webkit-input-placeholder {
			color: transparent;
		}
	}

	hr {
		content: '';
		display: block;
		position: relative;
		bottom: 2px;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 2px;
		border: none;
		background: #E37F00;
		font-size: 1px;
		will-change: transform, visibility;
		transition: all 200ms ease-out;
		transform: scaleX(0);
		visibility: hidden;
		z-index: 10;
	}
	input:focus ~ hr {
		transform: scaleX(1);
		visibility: visible;
	}

	label {
		position: absolute;
		font-size: 120%;
		color: #E37F00;
		transform-origin: 0 -150%;
		transition: transform 300ms ease;
		pointer-events: none;
		font-family: 'Roboto', sans-serif;
	}
	#firstname {
	  top: 197px;
	  left: 45px;
	  animation: text_opacity 1.75s cubic-bezier(.55, 0, .1, 1);
	}
	
	#lastname {
	  top: 260px;
	  left: 45px;
	  animation: text_opacity 1.75s cubic-bezier(.55, 0, .1, 1);
	}
	input:focus ~ label,
	input:valid ~ label {
		transform: scale(0.6);
	}
}


/* Animation Keyframes */
@keyframes scale_header {
  0%   {max-height: 0px; margin-bottom: 0px; opacity: 0;}
  100% {max-height: 117px; margin-bottom: 25px; opacity: 1;}
}

@keyframes input_opacity {
  0%   {transform: translateY(-10px); opacity: 0}
  100% {transform: translateY(0px); opacity: 1}
}

@keyframes text_opacity {
  0% {color: transparent;}
}

@keyframes error_before {
  0%   {height: 5px; background: rgba(0, 0, 0, 0.156); color: transparent;}
  10%  {height: 117px; background: #FFFFFF; color: #C62828}
  90%  {height: 117px; background: #FFFFFF; color: #C62828}
  100% {height: 5px; background: rgba(0, 0, 0, 0.156); color: transparent;}
}

/* Login Form */
.login-container {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 21rem;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  margin: auto;	
}

.login-container img {
  width: 200px;
  margin: 0 0 20px 0;
}

.login-container p {
  align-self: flex-start;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.login-container p a {
  color: rgba(0, 0, 0, 0.4);
}

.login {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  border-radius: 3px;
  background: #FAFAFA;
  overflow: hidden;
  animation: input_opacity 0.2s cubic-bezier(.55, 0, .1, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login > header {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: -10px -10px 25px -10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #1e88e5;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  color: #FAFAFA;
  animation: scale_header 0.6s cubic-bezier(.55, 0, .1, 1), text_opacity 1s cubic-bezier(.55, 0, .1, 1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
              0px 1px 5px 0px rgba(0, 0, 0, 0.12),
              0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login > header:before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 5px;
  padding: 10px;
  margin: -10px 0 0 -10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.156);
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: transparent;
  z-index: 5;
}

.login > header h2 {
  margin: 50px 0 10px 0;
  font-weight: 400;
}

.login > header h4 {
  font-size: 0.7em;
  animation: text_opacity 1.5s cubic-bezier(.55, 0, .1, 1);
  color: rgba(255, 255, 255, 0.4);
}

/* Form */
.login-form {
  padding: 15px;
  box-sizing: border-box;
}


/* Inputs */
.login-input {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  margin: 0 0 25px 0;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: transparent;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  opacity: 1;
  animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
  transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
}

.login-input:focus {
  outline: none;
  border-bottom: 2px solid #E37F00;
}


/* Submit Button */
.submit-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  padding: 10px;
  margin: 35px -25px -25px -25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.login-button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #E37F00;
  cursor: pointer;
  opacity: 1;
  animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
  transition: background 0.2s ease-in-out;
}

.login-button.raised {
  padding: 5px 10px;
  color: #FAFAFA;
  background: #E37F00;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.137255),
              0px 1px 5px 0px rgba(0, 0, 0, 0.117647),
              0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  background: rgba(0, 0, 0, 0.05);
}

.login-button.raised:hover {
  background: #FDAB43;
}

.login-button:focus {
  outline: 0;
}

fieldset {
  border: none;
}

.ink {
	display: block; position: absolute;
	background: hsl(180, 40%, 80%);
	border-radius: 100%;
	transform: scale(0);
}
/*animation effect*/
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
	/*scale the element to 250% to safely cover the entire link and fade it out*/
	100% {opacity: 0; transform: scale(2.5);}
}

* {
  box-sizing: unset;
}

@function shadow($z) {
  @return 0px $z ($z * 2) rgba(black, 0.25), 0px 0px $z rgba(black, 0.125);
}

@keyframes ink-visual-show {
  from {
    opacity: 1;
    transform: scale(0);
  }
  
  15% {
    opacity: 1;
  }
  
  to {
    transform: scale(1);
  }
}

@keyframes ink-visual-hide {
  from { }

  to {
    opacity: 0;
  }
}

$accent: hsl(120, 100, 75);
$ease: cubic-bezier(0.25, 0.5, 0.75, 1);
$ease-out: cubic-bezier(0.25, 0.5, 0.5, 1);
$ease-in: cubic-bezier(0.5, 0, 0.75, 0.5);

button {
  transition-duration: 0.2s;
  transition-timing-function: $ease-out;
  position: relative;
  padding: 0;
  height: auto;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 1em;
  text-transform: uppercase;
  color: rgba(black, .73);

  &:active {
    transition-duration: 0s;
  }

  .btn {
    position: relative;
    padding: 8px 16px;
    z-index: 2;
  }

  .ink-visual-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    z-index: 1;
    
    .ink-visual-static {
      position: static;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 2px;
    }
    
    .ink-visual {
      animation: ink-visual-show 0.45s $ease-out;
      animation-fill-mode: both;
      transition-property: opacity;
      transition-duration: 0.35s;
      transition-timing-function: $ease-out;
      position: absolute;
      border-radius: 50%;
      pointer-events: none;
      opacity: 1;
      z-index: -1;
      
      &.hide {
        opacity: 0;
      }
    }
  }

  &.raised, &.float {
    $def-bkgd: hsl(105, 75, 40);
    $hover-bkgd: mix($def-bkgd, white, 85);
    $active-bkgd: hsl(105, 75, 37);
    
    transition-property: box-shadow, background;
    background-color: $def-bkgd;
    box-shadow: shadow(2px);
    color: white;

    &:hover {
      box-shadow: shadow(4px);
      background-color: $hover-bkgd;
    }

    &:active {
      box-shadow: shadow(1px);
      background-color: $active-bkgd;

      html.ink-btn & {
        background-color: $hover-bkgd;
      }
    }
    
    .ink-visual {
      background-color: $active-bkgd;
    }
    
    &.edge .ink-visual-static {
      box-shadow: 0 1px 1px 0 rgba(white, .5) inset, 0 -1px 1px 0 rgba(black, .25) inset;
    }
  }

  &.flat {
    $active-bkgd: hsl(0, 0, 75);
    
    transition-property: background-color;
    background: none;
    color: hsl(120, 75, 35);
    
    &:active {
      background-color: $active-bkgd;
      
      html.ink-btn & {
        background: none;
      }
    }
    
    .ink-visual {
      background-color: $active-bkgd;
    }
  }
  
  &.float {
    $def-bkgd: hsl(30, 95, 50);
    $hover-bkgd: hsl(30, 95, 57);
    $active-bkgd: hsl(30, 95, 47);
    
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 16px;
    box-shadow: shadow(2px);
    background-color: $def-bkgd;
    
    &:hover {
      box-shadow: shadow(4px);
      background-color: $hover-bkgd;
    }
    
    &:active {
      box-shadow: shadow(1px);
      background-color: $active-bkgd;
      
      html.ink-btn & {
        background-color: $hover-bkgd;
      }
    }
    
    .ink-visual-container {
      border-radius: 50%;
    }
    
    .ink-visual-static {
      border-radius: 50%;
    }
    
    .ink-visual {
      background: $active-bkgd;
    }
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  margin: 4px;
  padding: 4px;
  background: white;
  border-radius: 2px;
  box-shadow: shadow(2px);
  
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }
  
  .hr {
    margin: 4px -4px 3px;
    border-bottom: 1px solid rgba(black, .15);
  }
}

.right {
  align-self: flex-end;
}
