---
---

@import "{{ site.theme }}";

html, body {
  height: 100%; 
  background-color: #f7f7f7;
}

.card-panel, .header-panel, .queue, .customer {
  padding: 24px;
  border-radius: 2px;
  margin: .5rem 0 1rem 0;    
}

.card-panel, .header-panel, .queue, .material-icons, .button-rectangle, .button-rectangle-modal {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  
}

.btn {
  border-radius: 2px;
}

.button-rectangle {
    transition: 300ms;
   -webkit-transition: 300ms;
   -ms-transition: 300ms;
}

.button-rectangle:hover, #add:hover{
   box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

header {
  position: fixed;
  width: 100%;
}

.header-panel, .next-customer, .customer, .customer-name {
  font-family: 'Product Sans', sans-serif;
}

.header-panel {
  background-color: #303f9f;
  color: white;
  padding: 24px;
  margin: .5rem 0 1rem 0;
  z-index: 2;
  margin-top: 0px;

}

.logo {
  width: 13rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.queue {
  padding-top: 11rem;
  height: 100%;
  width: 30%;
  margin-bottom: 0px;
  background-color: white;
  z-index: 2;
}

.customer-information {
  width: 50%;
  position: fixed;
  left: 40%;
  bottom: 55%;
  text-align: center;
}

.customer {
  font-size: 2rem;
}

.next-customer {
  font-size: 48pt;
}

.customer-name {
  font-size: 36pt;
  font-style: italic;
  font-weight: 100;
  overflow-x: visible;
}

.header-logo {
  background-color: white;
  padding-bottom: 0px;
  z-index: 1;
  margin-top: -1rem;
}

.ui {
  display: inline-block;
  width: 70%;
  float: right;
  position: fixed;
  top: 92%;
  right: 0;
}

.button-rectangle {
  margin-left: 4rem;
}

#add {
  float: right;
  margin-right: 4rem;
  margin-top: -1rem;
  width: 56px;
  height: 56px;
  background-color: #1e88e5;
  color: white;
  text-align: center;
  line-height: 54px;
  font-size: 1.3rem;
  padding: 0;
  border-radius: 50%;
  border: none;
}

#add:focus {
  outline: 0;
}

.material-icons {
  user-select: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
	margin: 20px;
	padding: 20px;
	background: #FFF;
}

.material {
	position: relative;
	padding: 0;
	margin: 5px;
	border: none;
	overflow: visible;
	
	input {
		box-sizing: border-box;
		width: 100%;
		padding: 12px 10px 8px;
		border: none;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 1px solid #DDD;
		font-size: 120%;
		outline: none;
		cursor: text;

		&::-webkit-input-placeholder {
			transition: color 300ms ease;
		}
		&:not(:focus)::-webkit-input-placeholder {
			color: transparent;
		}
	}
	
	hr {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 2px;
		border: none;
		background: #607D8B;
		font-size: 1px;
		will-change: transform, visibility;
		transition: all 200ms ease-out;
		transform: scaleX(0);
		visibility: hidden;
		z-index: 10;
	}
	input:focus ~ hr {
		transform: scaleX(1);
		visibility: visible;
	}
	
	label {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 120%;
		color: #607D8B;
		transform-origin: 0 -150%;
		transition: transform 300ms ease;
		pointer-events: none;
	}
	input:focus ~ label,
	input:valid ~ label {
		transform: scale(0.6);
	}
}
