---
---

@import "{{ site.theme }}";


html, body {
  height: 100%; 
}

main {
  background-color: #f7f7f7;
}

.card-panel, .header-panel, .queue, .customer {
  padding: 24px;
  border-radius: 2px;
  margin: .5rem 0 1rem 0;    
}

.card-panel, .btn, .header-panel, .queue {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  
}

header {
  position: fixed;
  width: 100%;
}

.header-panel, .next-customer, .customer, .customer-name {
  font-family: 'Product Sans', sans-serif;
}

.header-panel {
  background-color: #303f9f;
  color: white;
  padding: 24px;
  margin: .5rem 0 1rem 0;
  z-index: 2;
  margin-top: 0px;

}

.logo {
  width: 13rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.queue {
  padding-top: 11rem;
  padding-bottom: 100%;
  width: 30%;
  margin-bottom: 0px;
  background-color: white;
  z-index: 2;
}

.customer-information {
  width: 50%;
  position: fixed;
  left: 40%;
  bottom: 55%;
  text-align: center;
}

.customer {
  font-size: 2rem;
}

.next-customer {
  font-size: 48pt;
}

.customer-name {
  font-size: 36pt;
  font-style: italic;
  font-weight: 100;
  overflow-x: visible;
}

.header-logo {
  background-color: white;
  padding-bottom: 0px;
  z-index: 1;
  margin-top: -1rem;
}



