<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=0.35, maximum-scale=3.0, minimum-scale=0.35">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </head>
  <body>
    

    <header role="banner">
      <div class="header-logo">
        <img src="https://90a1c75758623581b3f8-5c119c3de181c9857fcb2784776b17ef.ssl.cf2.rackcdn.com/images_sf_MC_logo.png" alt="Micro Center logo" class="logo">
      </div>
      <div class="header-panel">
        <h1 style="font-weight: 400; margin-left: 2rem;">Customer Queue</h1>
      </div>  
    </header>
   
    <main id="content" class="main-content" role="main">
      <div id="queue" class="queue">
        
      </div>
      
      <div class="customer-information">
        <h1 id="next-customer-title" class="next-customer">No customers in queue.</h1>
        <h2 id="next-customer-name" class="customer-name"></h2>
      </div>     
      
      <div class="ui">
        <button id="next-customer" class="mdc-button" onclick="getNextCustomer()">Next Customer</button>
        <button id="add" class="mdc-button" onclick="showModal()">
          <i class="material-icons">add</i>
          <span style="padding-left: 5px">Add Customer</span>
        </button>
      </div>
           
      <div id="modal" class="modal">
        <div id="login-container" class="login-container">
          <section class="login" id="login">
            <header>
              <h2>Customer Queue</h2>
              <h4>Please enter your name</h4>
            </header>
            <form id="login-form" class="login-form" onsubmit="addCustomer()">
              <fieldset class="material">
                <input type="text" id="fn-input" placeholder="John" autocomplete="off" required>
                <hr>
                <label id="firstname">First Name</label>
              </fieldset>
              <fieldset class="material">
                <input type="text" id="ln-input" placeholder="Doe" autocomplete="off" required>
                <hr>
                <label id="lastname">Last Name</label>
              </fieldset>
              <div class="submit-container">
                <span style="padding-right: 1%">
                  <button id="submit" class="mdc-button" type="submit">SUBMIT</input>
                </span>
                <span>
                  <button id="cancel" class="mdc-button" type="button" onclick="hideModal()">CANCEL</button>
                </span>
             
              </div>
            </form>
          </section>
        </div>
      </div>
      
    </main>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>

